## Visual Studio
.vs/
bin/
obj/
*.user
*.suo

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## User-specific files
*.userprefs
*.suo
*.user

## Publish
*.pubxml
*.azurePubxml

## Environment
appsettings.Development.json
.env